img{
    height: 400px;
}
.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(1.jpg);
}          

.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(1.jpg);
}                              

.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(1.jpg);
}                              